{% load widget_tweaks%}
{% load static%}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nafya{% endblock %}</title>
	{% block stylesheet %}
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/cssfile.css'%}">
    {% endblock %}

</head>
<body>
{%block body%}
<header>
		<nav>
			<ul class="nav_links">
				<li><a href="#" class="active">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="artical.html">Articles</a></li>
				<li><a href="book.html">Books</a></li>
				<li><a href="doctor.html">Doctors</a></li>
			</ul>
		</nav>
		<div id="logo">Naf<span id="logo-s">Sya</span></div>
		<span class="sign"><a class="act" href="#">SIGN UP</a></span>
		<!--<span class="sign"><a href="#">SIGN IN</a></span>-->
	</header>
<div class="slider">
		<!-- fade css -->
		<div class="myslide fade">
			<div class="txt">
				<h1>Nafsya</h1>
				<p>We Provide For You<br>Doctors around the clock to help you</p>
			</div>
			<img src="../static/img/img1.jpg" style="width: 100%; height: 100%;">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Nafsya</h1>
				<p>We Provide For You<br>Help for all age groups</p>
			</div>
			<img src="../static/img/img2.jpg" style="width: 100%; height: 100%;">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Nafsya</h1>
				<p>We Provide For You<br>Comfortable area for you</p>
			</div>
			<img src="../static/img/img3.jpg" style="width: 100%; height: 100%;">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Nafsya</h1>
				<p>We Provide For You<br>Good listeners to you</p>
			</div>
			<img src="../static/img/img4.jpg" style="width: 100%; height: 100%;">
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Nafsya</h1>
				<p>We Provide For You<br>We exist only for you </p>
			</div>
			<img src="../static/img/img5.jpg" style="width: 100%; height: 100%;">
		</div>
		<!-- /fade css -->

		<!-- onclick js -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  		<a class="next" onclick="plusSlides(1)">&#10095;</a>

		<div class="dotsbox" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
		</div>
		<!-- /onclick js -->
	</div>

{%endblock body%}
<script src="../static/js/jsfile.js"></script>
<script src="{%static 'js/jquery-3.6.0.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>

</body>
</html>



